<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncAwaitBestPractices" version="7.0.0" targetFramework="net48" />
  <package id="AsyncAwaitBestPractices.MVVM" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="8.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Http" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Console" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Debug" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="8.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.77" targetFramework="net48" />
  <package id="Mono.HttpUtility" version="1.0.0.1" targetFramework="net48" />
  <package id="Sentry" version="3.41.4" targetFramework="net48" />
  <package id="Sentry.Serilog" version="3.41.4" targetFramework="net48" />
  <package id="Serilog" version="3.1.1" targetFramework="net48" />
  <package id="Serilog.Extensions.Logging" version="8.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="8.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>