[*.cs]
csharp_prefer_braces = false
csharp_style_var_for_built_in_types=true:silent
csharp_style_var_when_type_is_apparent=true:silent
csharp_style_var_elsewhere=true:silent
csharp_style_unused_value_assignment_preference=discard_variable:silent
csharp_style_unused_value_expression_statement_preference=discard_variable:silent
csharp_style_expression_bodied_methods=true:silent
csharp_style_expression_bodied_constructors=true:silent
csharp_style_expression_bodied_operators=true:silent
csharp_style_expression_bodied_local_functions=true:silent

[*.{cs,vb}]
dotnet_style_predefined_type_for_locals_parameters_members=true:silent
